<mat-sidenav-container style="background-color:#141719;width:230px;height:578px;border-style: solid;
border-color:#1482AC;border-width: 1px;">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content><div style="height:30px;"><br></div>
    <button type="button"  class="btn" style="padding: 17px 43px;font-size: 16px;color:white;font-weight: 20" (click)="openemployeedetails()"> Employee Details</button>
    <div style="height:30px;"><br></div>
    <button type="button" class="btn" (click)="opentrainingdetails()" style="padding: 17px 50px;font-size: 16px;color:white;font-weight: 20">Training Details</button></mat-sidenav-content>
    </mat-sidenav-container>

                                                                                                                        
  
   